html{
    min-height: 100%;
}

body{
    background: linear-gradient(black,green);
   
   
}

.terminal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#inpt{
    border: 2px solid rgba(12, 221, 12, 0.779);
    padding: 10px 15px;
}


#outt{
    border: 2px solid rgba(12, 221, 12, 0.779);
    margin-top: 25px;
    padding: 10px 15px;
}

.box{
    background-color: black;
    color: rgba(57, 234, 26, 0.942);
    display: flex;
}

.box #Icode{
    width: 500px;
    height: 500px;
}

.box #Ocode {
    width: 500px;
    height: 200px;
}

#tt{
    text-align: center;
    margin: 10px auto;
}

#bar {
    width: 100%;
    max-width: 400px;
    height: 20px;
    background-color: #ddd;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden; /* Keeps loading bar within bounds */
    display: none; /* Initially hidden */
  }
  
  #load {
    height: 100%;
    width: 0%; /* Starts at 0%, animates to 100% */
    background-color: #4caf50;
    transition: width 2s ease; /* Smooth transition */
  }
  
  #status {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    height: 150px;
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
 


  #disp{
    display: flex;
    flex-direction: column;
  }