html{
    min-height: 100%;
}

body{
    background: #090909;
    background-image: linear-gradient(black,green);
    overscroll-behavior: none;
   
}

.terminal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#inpt{
    border: 2px solid rgba(12, 221, 12, 0.779);
    padding: 10px 15px;
}


#outt{
    border: 2px solid rgba(12, 221, 12, 0.779);
    margin-top: 25px;
    padding: 10px 15px;
}

.box{
    background-color: black;
    color: rgba(57, 234, 26, 0.942);
    display: flex;
}

.box #Icode{
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.box2 {
    width: fit-content;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #090909;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#tt{
    text-align: center;
    margin: 10px auto;
}

#gifc {
    display: none;
    margin-top: 10px ;
}
    
 
#hack{
    width: 300px;
    height: 400px;
}

#popupOverlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Ensure it's above all other elements */
  }

  /* Popup Window */
  #popupWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: rgb(20, 19, 19);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
  }

  /* Close Button */
  .closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: red;
    color: rgb(241, 247, 240);
    font-size: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    
  }

  .closeButton:hover {
    background-color: darkred;
  }


  #popupMessage{
    color: #46f311;
    font-size: 20px;
    font-weight: bolder;
  }

  #tick{
    display: none;
  }